/* 
    메인컬러2가지
    005AD5
    FFA12D
*/
html, body {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: fixed; top: 0; z-index: 999;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    padding: 0 80px;
}
header h1 {padding: 15px 0;}
header h1 a {}
header h1 a img {}
header .pc_gnb {
    display: flex; flex-flow: row nowrap;
}
header .pc_gnb a {
    margin-right: 60px; letter-spacing: -0.2px; 
    font-weight: 700; color: #222;
    position: relative;
}
header .pc_gnb a:hover {
    color: #005AD5;
}
header .pc_gnb a:hover::after {
    content: ''; display: inline-block;
    width: 100%; height: 2px; background-color: #005AD5;
    position: absolute;
    top: 21px; left: 0;
    animation: nav_hover_on 0.3s ease;
}
@keyframes nav_hover_on {
    0% {width: 0;}
    100% {width: 100%;}
}
/* @keyframes nav_hover_off {
    0% {width: 1005;}
    100% {width: 0;}
} */
header .pc_gnb a:last-child {margin: 0;}
header .m_gnb {display: none;}
/* ---------------------------- header 끝 */
main {letter-spacing: -0.4px; background-color: pink;}
main .bg {}
main .bg h2 {font-size: 3.75rem; font-weight: 700;}
main .bg .title > p {font-size: 1.625rem;}
main .bg123 {
    background: url(../images/bg123.jpg);
    background-size: cover;
    background-position: center top;
    margin: 0 auto;
    padding-bottom: 295px;
}
/* -------- main > bg123 (공통선택자) */
main .bg123 .bg1 {
    text-align: center;
}
main .bg123 .bg1 .title {padding-top: 140px;}
main .bg123 .bg1 .title p {font-weight: 500; color: #fff;}
main .bg123 .bg1 .title h2 {color: #FFA12D; padding-top: 10px;}
main .bg123 .bg1 .corn_g {}
main .bg123 .bg1 .corn_g .left {
    position: absolute;
    top: 702px; left: -288px;
}
main .bg123 .bg1 .corn_g .left img {}
main .bg123 .bg1 .corn_g .center {width: 800px; margin: 0 auto;}
main .bg123 .bg1 .corn_g .center img {}
main .bg123 .bg1 .corn_g .right {
    width: 335px;
    position: absolute;
    top: 287px; right: -106px;
}
main .bg123 .bg1 .corn_g .right img {width: 100%;}
/* bg1 corn 애니메이션 */
main .bg123 .bg1 .corn_g .left img {
    animation: rotate 15s linear infinite;
}
main .bg123 .bg1 .corn_g .right img {
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/* -----------------------------------------bg1 */
main .bg123 .bg2_bg3 {
    width: 1117px; margin: 0 auto;
    padding-top: 140px;
}
main .bg123 .bg2_bg3 > .title {}
main .bg123 .bg2_bg3 > .title h2 {}
main .bg123 .bg2 {
    padding: 140px 0 240px;
}
/* 
    bg2,bg3 디자인 공통 선택자(아래) (중간 선택자 삭제 후 진행)
*/
main .bg123 .bg2 .menu {width: 100%;}
main .bg123 .bg3 .menu {width: 100%;}
main .bg123 .bg2 .menu, 
main .bg123 .bg3 .menu {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    width: 100%;
}
main .bg123 .menu .product {
    position: relative;
    width: 455px; padding-bottom: 128px;
}
main .bg123 .menu .product img:first-child {}
main .bg123 .menu .product img:last-child {
    position: absolute;
    top: 0; left: 0;
    transition: scale 0.3s;
}
/* 신제품 이미지 마우스 hover */
main .bg123 .menu .product:hover img:last-child {scale: 1.12;}
main .bg123 .menu .info .top {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
main .bg123 .menu .info {
    background-color: #fff;
}
main .bg123 .menu .info .top .num {
    font-size: 4.688rem; letter-spacing: -10px; font-weight: 700;
    color: #222; margin-right: 20px; line-height: 107px;
}
main .bg123 .menu .info .top .tit {}
main .bg123 .menu .info .top .tit p {font-size: 1.625rem; font-weight: 700; color: #FFA12D;}
main .bg123 .menu .info .top .tit h3 {font-size: 2.125rem; font-weight: 700; color: #005AD5; margin-top: 10px;}
main .bg123 .menu .info > p {margin: 30px 0 90px; font-size: 1.25rem; letter-spacing: -0.4px;}
main .bg123 .bg2 .product,
main .bg123 .bg3 .product {width: 455px;}
/* 
    bg2,bg3 표 공통 선택자(아래) (중간 선택자 삭제 후 진행)
    main .bg123 .bg2 .menu .info .detail_info > .title
    main .bg123 .bg2 .menu .info .detail_info > .t
*/
main .bg123 .menu .info .detail_info {}
main .bg123 .bg2 .menu .info .detail_info .title,
main .bg123 .bg3 .menu .info .detail_info .title {
    margin-bottom: 20px; font-weight: 500;
}
main .bg123 .detail_info .t {}
main .bg123 .detail_info .t tr {
    border: 1px solid #ddd; border-left: 0; border-right: 0;
    height: 40px; 
}
main .bg123 .detail_info .t tr th {}
main .bg123 .detail_info .t tr td {}
main .bg123 .detail_info .t tr td:nth-child(2) {
    padding-right: 30px;
    border-right: 1px solid #ddd;
}
main .bg123 .detail_info .t tr td:nth-child(4) {padding-right: 15px;}
main .bg123 .detail_info .t tr th:nth-child(1) {padding: 0 50px 0 15px;}
main .bg123 .detail_info .t tr th:nth-child(3) {padding: 0 50px 0 30px;}
/* ---------------------------- main > bg123 끝 */
main .bg4 {background-color: #005AD5;}
main .bg4 .container {
    width: 1117px; margin: 0 auto; padding-top: 40px;
}
main .bg4 .container .top {}
main .bg4 .container .title {
    display: flex; align-items: center;
    color: #fff;
    padding: 50px 0;
}
main .bg4 .container .title h2 {margin-right: 60px;}
main .bg4 .container .title p {}
main .bg4 .container .title p em {color: #FFA12D; font-weight: 700;}
main .bg4 .container .review_img {}
main .bg4 .container .review_img .pc_img {width: 100%;}
main .bg4 .container .review_img .m_img {display: none;}
main .bg4 .container .review_t {
    margin: 50px auto 78px; color: #fff;
    font-size: 1.25rem; letter-spacing: -0.2px;
    width: calc(100% - 7px);
}
main .bg4 .container .review_t tr {
    border: 1px solid #fff;
    border-left: 0; border-right: 0;
}
main .bg4 .container .review_t tr th {padding: 20px 0 20px 38px;}
main .bg4 .container .review_t tr td:first-child {}
main .bg4 .container .review_t tr td:last-child {}

/* 이벤트 참여 한줄평 등록하기 (아래) --- */
main .bg4 .container .event_saving {}
main .bg4 .container .event_saving > p {
    font-size: 0.875rem; color: #fff;
    margin-bottom: 20px;
}
/* 이벤트참여 form --- */
main .bg4 .container .event_saving #event_frm {
    background-color: #fff;
    width: 1117px; padding: 43px 63px 24px;
    border-radius: 20px 20px 0 0;
}
/* input, span, 글자 공통 선택자 (아래) */
main .bg4 .container .event_saving #event_frm input[id*=user] {
    border: 2px solid #FFA12D; padding: 10px 0 10px 20px;
    font-size: 0.875rem; outline: none;
}
main .bg4 .container .event_saving #event_frm span {font-weight: 700;}
/* ----------------------- */
main .bg4 .container .event_saving #event_frm .event_g {width: 100%;}
main .bg4 .container .event_saving #event_frm .event_g .top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .bg4 .container .event_saving #event_frm .event_g .top li {display: flex; align-items: center; justify-content: space-between; width: 100%;}
main .bg4 .container .event_saving #event_frm .event_g .top li span {
    width: 64px; display: inline-block;
}
main .bg4 .container .event_saving #event_frm .event_g .top li input[id*=user] {width: calc(100% - 64px);}
main .bg4 .container .event_saving #event_frm .event_g .top li:last-child {margin-left: 20px;}

main .bg4 .container .event_saving #event_frm .event_g .review {margin: 20px 0 25px; display: flex; align-items: center; justify-content: space-between; width: 100%;}
main .bg4 .container .event_saving #event_frm .event_g .review span {}
main .bg4 .container .event_saving #event_frm .event_g .review input[id*=review] {width: calc(100% - 64px);}
/* ------------------------------------ */
main .bg4 .container .event_saving #event_frm .info_saving {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
main .bg4 .container .event_saving #event_frm .info_saving .info {width: 530px;}
main .bg4 .container .event_saving #event_frm .info_saving .info p {
    color: #969696; font-size: 0.75rem; line-height: 1.5;
    font-weight: 400; display: inline-block;
}
main .bg4 .container .event_saving #event_frm .info_saving > p #save_btn {
    background-color: #005AD5; color: #fff; border: 0;
    font-weight: 500; font-size: 1.125rem;
    padding: 10px 0; width: 146px;
}
main .bg4 .btm_box {
    background-color: #FFA12D;
    width: 100%; height: 40px;
}
main .bg4 .container .event_saving #event_frm .info_saving #save_btn:hover {background-color: #003783;}
/* ---------------------------- main > bg4 끝 */
main .bg56 {
    background: url(../images/bg56_all_deco.jpg);
    background-size: cover;
    background-position: center;
}
main .bg56 .container {width: 1115px; margin: 0 auto;}
main .bg56 .container > .title {padding: 116px 0;}
main .bg56 .container > .title h2 {line-height: 87px;}
main .bg56 .container .best {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 150px;
    letter-spacing: -0.4px;
}
main .bg56 .container .best:last-child {margin: 0;}
main .bg56 .container .best li {}
main .bg56 .container .best li h3 {
    font-size: 2.125rem;
    margin: 40px 0 20px;
    color: #FFA12D; font-weight: 700;
}
main .bg56 .container .best2 li h3 {color: #005AD5;}
main .bg56 .container .best li p {font-size: 1.625rem; line-height: 1.5;}
main .bg56 .container .best .product {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 45px; border-radius: 20px;
    text-align: center;
}
main .bg56 .container .best .product {border: 3px solid #fff; transition: all 0.3s;}
main .bg56 .container .best .product img {}
main .bg56 .container .best .info {}
/* 이미지 마우스 애니메이션 */
main .bg56 .container .best .product:hover {
    border: 3px solid #005AD5;
}
main .bg56 .container .best2 .product:hover {
    border: 3px solid #FFA12D;
}

main .bg56 .container .best li:nth-child(2) {
    margin-left: 80px;
}
main .bg56 .container .best1 {}
main .bg56 .container .best2 {}
main .bg56 .container .best2 li:nth-child(1) {text-align: right;}
main .bg56 .container .best3 {padding-bottom: 180px;}
/* ---------------------------- main > bg5,6 끝 */
main .bg7 {
    background: url(../images/bg7.jpg);
    background-size: cover;
    background-position: center;
}
main .bg7 .container {
    width: 1200px; margin: 0 auto; padding-bottom: 54px;
    padding: 0 30px; padding-bottom: 60px;
}
main .bg7 .container .title {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding: 90px 0 40px;
}
main .bg7 .container .title > p {margin-right: 20px;}
main .bg7 .container .title > p img {}
main .bg7 .container .title h2 {color: #005AD5;}
main .bg7 .container ul {
    display: flex; flex-flow: row nowrap;
    width: 100%; justify-content: space-between;
    padding: 0 0 0 86px;
}
main .bg7 .container ul .left {
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}
main .bg7 .container ul .left img {}
main .bg7 .container ul .right {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between;
}
main .bg7 .container ul .right img {
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}
/* ---------------------------- main > bg7 끝 */
main .bg8 {background-color: #fff;}
main .bg8 .container {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}
main .bg8 .container .title {
    padding-top: 117px; display: flex; flex-flow: row nowrap;
    align-items: center;
}
main .bg8 .container .title h2 {margin-right: 40px; color: #005AD5;}
main .bg8 .container .title > p {}
main .bg8 .container .sns_g {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin: 117px 0;
}
main .bg8 .container .sns_g a {
    opacity: 1;
    width: calc((100% - 60px) / 3);
}
main .bg8 .container .sns_g a img {width: 100%;}
main .bg8 .container #go_sns_btn {
    width: 150px; line-height: 40px;
    background-color: #005AD5;
    color: #fff;
    font-size: 1.125rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 120px;
}
main .bg8 .container .sns_g a:hover {opacity: 0.5;}
main .bg8 .container #go_sns_btn:hover {background-color: #003783;}
/* ---------------------------- main > bg8 끝 */
